body{
    margin: 0;
}

.navbar{
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    justify-content: space-around;
    align-items: center;

}

.navbar2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    justify-content: space-around;
}


.logo{
    background-color: whitesmoke;
    padding: 15px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    color: whitesmoke;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3px;
}

.sesión{
    padding-top: 0.5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.sa{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 15px;
    font-size: small;
}

.sa:hover{
    font-weight: bold;
}

.usuario{
    padding-left: 2%;
    margin-left: 2%;
    padding-right: 2%;
    font-size: small;
    background-color: #212121;
    color: whitesmoke;
    border-radius: 12px;
}

.usuario:hover{
    border-bottom: .15em solid;
}

.litem{
    list-style: none;
    display: inline;
    padding-top: 0px;
    padding: 5px;
    margin: 2px;
}

.litem:hover{
    color: white;
    border-bottom: .25em solid;
}

